[vttablet]
health_check_interval=1s
shard_sync_retry_delay=1s
remote_operation_timeout=1s
db_connect_timeout_ms=500
table_acl_config_mode=simple
enable_logs=true
enable_query_log=true
table_acl_config=
queryserver_config_strict_table_acl=false
table_acl_config_reload_interval=5s
enforce_tableacl_config=false

queryserver_config_transaction_cap=20
queryserver_config_pool_size=16
queryserver_config_stream_pool_size=4
dba_pool_size=5
queryserver_pool_autoscale_enable=true
queryserver_pool_autoscale_tx_pool_percentage=70

non_transactional_dml_database_pool_size=3
non_transactional_dml_default_batch_size=2000
non_transactional_dml_default_batch_interval=1
non_transactional_dml_table_gc_interval=24
non_transactional_dml_job_manager_running_interval=24
non_transactional_dml_throttle_check_interval=250
non_transactional_dml_batch_size_threshold=10000
non_transactional_dml_batch_size_threshold_ratio=0.5


topo_implementation=etcd2
topo_global_server_address=127.0.0.1:2379
topo_global_root=/vitess/global
alsologtostderr=true
log_queries_to_file=vtdataroot/vttablet/vttablet_0000000000_querylog.txt
tablet-path=zone1-0000000000
tablet_hostname=127.0.0.1
init_tablet_type=replica
enable_replication_reporter=true
backup_storage_implementation=file
file_backup_storage_root=vtdataroot/vttablet/backups
port=15100
db_port=3306
db_host=127.0.0.1
db_allprivs_user=root
db_allprivs_password=passwd
db_dba_user=root
db_dba_password=passwd
db_app_user=root
db_app_password=passwd
db_filtered_user=root
db_filtered_password=passwd
grpc_port=16100
service_map=grpc-queryservice,grpc-tabletmanager,grpc-updatestream
pid_file=vtdataroot/vttablet/vttablet.pid
vtctld_addr=http://127.0.0.1:15000/
disable_active_reparents=true