[vttablet]
v=100
health_check_interval=1s
shard_sync_retry_delay=1s
remote_operation_timeout=1s
db_connect_timeout_ms=500
table_acl_config_mode=simple
enable_logs=true
enable_query_log=true
table_acl_config=
queryserver_config_strict_table_acl=false
table_acl_config_reload_interval=5s
enforce_tableacl_config=false

queryserver_config_transaction_cap=75
# OltpReadPool
queryserver_config_pool_size=35
# OlapReadPool
queryserver_config_stream_pool_size=2

# the size of database connection pool in non transaction dml
non_transactional_dml_database_pool_size=3
# the number of rows to be processed in one batch by default
non_transactional_dml_default_batch_size=2000
# the interval of batch processing in milliseconds by default
non_transactional_dml_default_batch_interval=1
# the interval of table GC in hours
non_transactional_dml_table_gc_interval=24
# the interval of job scheduler running in seconds
non_transactional_dml_job_manager_running_interval=24
# the interval of throttle check in milliseconds
non_transactional_dml_throttle_check_interval=250
# the threshold of batch size
non_transactional_dml_batch_size_threshold=10000
# final threshold = ratio * non_transactional_dml_batch_size_threshold / table index numbers
non_transactional_dml_batch_size_threshold_ratio=0.5