name: Docker Build and Push

on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
        description: 'The branch to build from'
      image_name:
        required: true
        type: string
        description: 'The name of the docker image'
      platforms:
        required: false
        type: string
        default: 'linux/amd64'
        description: 'Platforms to build for (comma-separated)'
      registry:
        required: false
        type: string
        default: 'ghcr.io'
        description: 'Container registry to push to'
      tags:
        required: false
        type: string
        default: 'latest'
        description: 'Image tags (comma-separated)'
      want_push:
        required: false
        type: boolean
        default: true
      want_load:
        required: false
        type: boolean
        default: true
      want_artifact:
        required: false
        type: boolean
        default: false
      artifact_path:
        required: false
        type: string
        default: '/tmp/image.tar'


jobs:
  build-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.registry }}
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Generate Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ inputs.registry }}/${{ inputs.image_name }}
          tags: |
            type=raw,value=${{ inputs.tags }}

      - name: Build Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: docker/wesqlscale/Dockerfile.release
          platforms: ${{ inputs.platforms }}
          push: ${{ inputs.want_push }}
          load: ${{ inputs.want_load }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: false

      - name: Save Docker image
        if: inputs.want_artifact
        run: |
          IMAGE_NAME="${{ steps.meta.outputs.tags }}"
          docker save $IMAGE_NAME > ${{ inputs.artifact_path }}

      - name: Upload artifact
        if: inputs.want_artifact
        uses: actions/upload-artifact@v3
        with:
          name: docker-image
          path: ${{ inputs.artifact_path }}
          retention-days: 1