name: RELEASE-IMAGE

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: 'The tag name of image'
        required: true
        default: ''
  release:
    types:
      - published

env:
  RELEASE_VERSION: ${{ github.ref_name }}


jobs:
  image-tag:
    runs-on: ubuntu-latest
    outputs:
      tag-name: ${{ steps.get_tag_name.outputs.tag_name }}
    steps:
      - name: Get Tag Name
        id: get_tag_name
        run: |
          TAG_NAME=${{ inputs.image_tag }}
          if [ -z "$TAG_NAME" ]; then
              TAG_NAME=${{ env.RELEASE_VERSION }}
          fi
          echo tag_name=$TAG_NAME >> $GITHUB_OUTPUT

  release-image:
    strategy:
      fail-fast: false
      matrix:
        registry: [ "dockerhub", "aliyun", "aliyunnew" ]
    needs: image-tag
    uses: wesql/wesql-cd/.github/workflows/release-image.yml@v0.2.0
    with:
      MAKE_OPS: "push-images"
      IMG: "apecloud/apecloud-mysql-scale"
      VERSION: "${{ needs.image-tag.outputs.tag-name }}"
      GO_VERSION: "1.21"
      SET_REGISTRY: "${{ matrix.registry }}"
    secrets: inherit

